
@{
    ViewData["Title"] = "YourProfile";
}

<h1>$[user name]'s Profile</h1>

<div class="text-center">

</div>
<!--<div class="container">
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">-->
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Your Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="YourProfile">Your Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SellBooks">Settings</a>
    </li>

</ul>
<!--   </div>
</div>-->
